<body>
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search...">
        <button onclick="search()">Search</button>
    </div>
    <div id="searchResults">
    </div>
    <script src="script.js"></script>
</body>
</html>