<h1>Create New Post</h1>
<form>
  <label for="name">Dish Name:</label>
  <input type="text" id="name" name="name" required>

  <label for="restaurant">Restaurant:</label>
  <input type="text" id="restaurant" name="restaurant" required>

  <label for="description">Description:</label>
  <input type="text" id="description" name="description" required>

  <label for="star-rating">Star Rating (out of 5 stars):</label>
  <input type="text" id="star-rating" name="star-rating" required>

  <input type="submit" value="Create Post">
</form>

<script src="/js/post.js"></script>